.search {
    display: flex;
    margin-left: 30px;
}

.add-btn i{
    font-size: 14px;
    margin-right: 6px;
}

/* pagination */

.nav__pagination{
    display: flex;
    justify-content: center;
}

.btn__pagination{
    outline: none !important;
    border: 1px solid #ccc;
    width: 62px;
    height: 28px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    
}

.btn__pagination:hover{
    color: rgb(26, 169, 226);
    outline: none;
}

.prev-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.next-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.page-text{
    width:52px;
    height:28px;
    line-height:28px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #000;
    font-weight: 400;
}

.disabled:disabled{
    color: #ccc;
}

/* filter status */

.filter-form{
    display: flex !important;
    margin-bottom: 0;
}

.label-filter-status{
    width: 110px;
    height:42px;
    line-height:42px;
    font-weight: bold !important;
    font-size: 16px;
}

.form-control--select{
    width: 180px;
}